{
  "openapi": "3.1.0",
  "info": {
    "title": "GlobalTalk AI & Desi Language AI API",
    "description": "Official API specification for GlobalTalk AI and the Desi Language AI engine. Provides real-time neural translation, document translation, writing assistance, and native Indic linguistic intelligence across 100+ global languages and all 22 official Eighth Schedule Indian languages.",
    "version": "3.2.0",
    "contact": {
      "name": "GlobalTalk AI Developer Relations",
      "url": "https://globaltalk.ai/support"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.globaltalk.ai",
      "description": "Global Production Edge Gateway"
    },
    {
      "url": "http://127.0.0.1:8088",
      "description": "Local Development / Edge Instance"
    }
  ],
  "security": [
    { "ApiKeyAuth": [] },
    { "DesiKeyAuth": [] },
    { "BearerAuth": [] }
  ],
  "paths": {
    "/v2/translate": {
      "post": {
        "summary": "Translate Text",
        "description": "Translates single or multiple text segments into target languages with support for formality levels, custom glossaries, translation memory integration, and HTML/XML tag handling.",
        "operationId": "translateText",
        "tags": ["Core Translation"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/TranslateRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful translation response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TranslateResponse" }
              }
            }
          }
        }
      }
    },
    "/v2/desi/translate": {
      "post": {
        "summary": "Desi Indic Native Translation",
        "description": "Translates text with cultural honorific awareness across 22 official Indian languages. Supports 3-tier formality (formal [आप], familiar [तुम], intimate [तू], respectful suffix [-जी]), domain awareness, and native script targeting.",
        "operationId": "desiTranslate",
        "tags": ["Desi Indic AI"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/DesiTranslateRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Indic translation result with applied honorifics and script annotations",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DesiTranslateResponse" }
              }
            }
          }
        }
      }
    },
    "/v2/desi/transliterate": {
      "post": {
        "summary": "Phonetic Script Transliteration",
        "description": "Performs phonetic script conversion between Latin/Roman phonetic text (Hinglish/Tanglish) and native Indic scripts.",
        "operationId": "desiTransliterate",
        "tags": ["Desi Indic AI"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/DesiTransliterateRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transliteration result",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DesiTransliterateResponse" }
              }
            }
          }
        }
      }
    },
    "/v2/desi/normalize": {
      "post": {
        "summary": "Normalize Indic Unicode Text",
        "description": "Sanitizes and normalizes Indic Unicode text. Cleans redundant Zero-Width Non-Joiner (ZWNJ) and Zero-Width Joiner (ZWJ) anomalies and standardizes canonical composed nukta characters.",
        "operationId": "desiNormalize",
        "tags": ["Desi Indic AI"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/DesiNormalizeRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Normalized Indic text with sanitization count",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DesiNormalizeResponse" }
              }
            }
          }
        }
      }
    },
    "/v2/desi/languages": {
      "get": {
        "summary": "List Supported Indic Languages",
        "description": "Returns the comprehensive catalog of all 22 official Eighth Schedule Indian languages.",
        "operationId": "desiLanguages",
        "tags": ["Desi Indic AI"],
        "responses": {
          "200": {
            "description": "Catalog of Indic languages",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DesiLanguagesResponse" }
              }
            }
          }
        }
      }
    },
    "/v2/languages": {
      "get": {
        "summary": "Retrieve Supported Languages",
        "description": "Lists languages supported for text or document translation.",
        "operationId": "getLanguages",
        "tags": ["Core Translation"],
        "responses": {
          "200": {
            "description": "List of supported languages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/LanguageInfo" }
                }
              }
            }
          }
        }
      }
    },
    "/v2/document": {
      "post": {
        "summary": "Upload Document for Translation",
        "operationId": "uploadDocument",
        "tags": ["Document Translation"],
        "responses": {
          "200": {
            "description": "Document successfully queued",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DocumentUploadResponse" }
              }
            }
          }
        }
      }
    },
    "/v2/write/rephrase": {
      "post": {
        "summary": "Rephrase Text (Desi Write)",
        "operationId": "writeRephrase",
        "tags": ["Writing Assistant"],
        "responses": {
          "200": {
            "description": "Rephrased text options",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WriteRephraseResponse" }
              }
            }
          }
        }
      }
    },
    "/v2/write/correct": {
      "post": {
        "summary": "Correct Spelling and Grammar",
        "operationId": "writeCorrect",
        "tags": ["Writing Assistant"],
        "responses": {
          "200": {
            "description": "Corrected text",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WriteCorrectResponse" }
              }
            }
          }
        }
      }
    },
    "/v2/usage": {
      "get": {
        "summary": "Check Account Usage & Quotas",
        "operationId": "getUsage",
        "tags": ["Account & Quota"],
        "responses": {
          "200": {
            "description": "Account quota status",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UsageResponse" }
              }
            }
          }
        }
      }
    },
    "/v3/voice/realtime": {
      "post": {
        "summary": "Initiate Real-Time Voice Session",
        "operationId": "createVoiceSession",
        "tags": ["Real-Time Voice"],
        "responses": {
          "200": {
            "description": "Session handshake details with LiveKit or WebSocket connection tokens",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/VoiceSessionResponse" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      },
      "DesiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Desi-Key"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "TranslateRequest": {
        "type": "object",
        "required": ["text", "target_lang"],
        "properties": {
          "text": {
            "oneOf": [
              { "type": "string" },
              { "type": "array", "items": { "type": "string" } }
            ]
          },
          "target_lang": { "type": "string" },
          "source_lang": { "type": "string" },
          "formality": { "type": "string", "enum": ["default", "more", "less", "prefer_more", "prefer_less"] }
        }
      },
      "TranslateResponse": {
        "type": "object",
        "properties": {
          "translations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "detected_source_language": { "type": "string" },
                "text": { "type": "string" },
                "billed_characters": { "type": "integer" }
              }
            }
          }
        }
      },
      "DesiTranslateRequest": {
        "type": "object",
        "required": ["text", "target_lang"],
        "properties": {
          "text": {
            "oneOf": [
              { "type": "string" },
              { "type": "array", "items": { "type": "string" } }
            ]
          },
          "target_lang": { "type": "string" },
          "source_lang": { "type": "string" },
          "honorific": { "type": "string", "enum": ["formal", "familiar", "intimate", "respectful", "neutral"] },
          "respectful_suffix": { "type": "boolean" },
          "domain": { "type": "string" }
        }
      },
      "DesiTranslateResponse": {
        "type": "object",
        "properties": {
          "translations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "text": { "type": "string" },
                "detected_source_language": { "type": "string" },
                "target_lang": { "type": "string" },
                "script": { "type": "string" },
                "honorific_applied": { "type": "string" },
                "domain": { "type": "string" },
                "billed_characters": { "type": "integer" }
              }
            }
          }
        }
      },
      "DesiTransliterateRequest": {
        "type": "object",
        "required": ["text"],
        "properties": {
          "text": {
            "oneOf": [
              { "type": "string" },
              { "type": "array", "items": { "type": "string" } }
            ]
          },
          "source_script": { "type": "string" },
          "target_script": { "type": "string" }
        }
      },
      "DesiTransliterateResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "source_text": { "type": "string" },
                "transliterated_text": { "type": "string" },
                "source_script": { "type": "string" },
                "target_script": { "type": "string" },
                "characters": { "type": "integer" }
              }
            }
          }
        }
      },
      "DesiNormalizeRequest": {
        "type": "object",
        "required": ["text"],
        "properties": {
          "text": { "type": "string" },
          "clean_zwnj": { "type": "boolean" },
          "fix_nuktas": { "type": "boolean" }
        }
      },
      "DesiNormalizeResponse": {
        "type": "object",
        "properties": {
          "original_text": { "type": "string" },
          "normalized_text": { "type": "string" },
          "corrections_count": { "type": "integer" },
          "script": { "type": "string" }
        }
      },
      "DesiLanguagesResponse": {
        "type": "object",
        "properties": {
          "total_count": { "type": "integer" },
          "schedule": { "type": "string" },
          "languages": { "type": "array", "items": { "type": "object" } }
        }
      },
      "LanguageInfo": {
        "type": "object",
        "properties": {
          "language": { "type": "string" },
          "name": { "type": "string" },
          "supports_formality": { "type": "boolean" }
        }
      },
      "DocumentUploadResponse": {
        "type": "object",
        "properties": {
          "document_id": { "type": "string" },
          "document_key": { "type": "string" }
        }
      },
      "WriteRephraseResponse": {
        "type": "object",
        "properties": {
          "target_lang": { "type": "string" },
          "improvements": { "type": "array", "items": { "type": "object" } }
        }
      },
      "WriteCorrectResponse": {
        "type": "object",
        "properties": {
          "corrected_text": { "type": "string" },
          "corrections_count": { "type": "integer" }
        }
      },
      "UsageResponse": {
        "type": "object",
        "properties": {
          "character_count": { "type": "integer" },
          "character_limit": { "type": "integer" },
          "document_count": { "type": "integer" },
          "document_limit": { "type": "integer" }
        }
      },
      "VoiceSessionResponse": {
        "type": "object",
        "properties": {
          "session_id": { "type": "string" },
          "livekit_url": { "type": "string" },
          "livekit_token": { "type": "string" },
          "websocket_url": { "type": "string" },
          "canonical_source_guarantee": { "type": "string" }
        }
      }
    }
  }
}
